<ion-grid scrollEnabled="false" class="justify-content-evenly">
  <div class="back-ground-container">
    <img src="https://media.giphy.com/media/t2aAdTgnU9Ie6jvG0W/giphy.gif" alt="Fondo" class="back-ground-container">
  </div>
  <ion-row>
    <div class="mid-animation-container">
      <img src="../../assets/appIconS.png" alt="Top Animation" class="animated">
    </div>
  </ion-row>
  <ion-row class="ion-text-center text-start">
    <div class="top-animation-container bg-primary p-3 bg-opacity-50">
      <h1 class="animated ion-text-start">Sosa Segovia</h1>
      <h1 class="animated ion-text-center">Eduardo Andrés</h1>
      <div class="bottom-animation-container">
        <h1 class="animated ion-text-end ">4-A </h1>
      </div>
    </div>
  </ion-row>

</ion-grid>